<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Temp\SvcLog\TracesPOS.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <appSettings>
    <add key="merchant_devices" value="0x28F3:0x3003,0x28F3:0x3000,0x28F3:0x2000"/>
    <add key="customer_devices" value="0x28F3:0x3002,0x28F3:0x3004,0x18D1:0x2D01"/>
  </appSettings>
</configuration>
