<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CloverStarterExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <CloverStarterExample.Properties.Settings>
            <setting name="pairingAuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="lastWSEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="lastWSPort" serializeAs="String">
                <value>0</value>
            </setting>
        </CloverStarterExample.Properties.Settings>
    </userSettings>
</configuration>