<?xml version="1.0"?>
<configuration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup>
  <!-- The settings USB Transport will be looking for. The need to be in the application's config file -->
  <!--
  <appSettings>
    <add key="merchant_pids" value="0x3003, 0x3000"/>
    <add key="customer_pids" value="0x3002, 0x3004"/>
  </appSettings>
  -->
</configuration>
